@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    font-family: 'Raleway', sans-serif;
  }
}

.animation-heading{
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: .7s;
}



@keyframes slideBottom {
  0%{
    transform: translateY();
  }
}